{% extends 'website/base.html' %} {% load static %}


{% block title %} About - WeNGO {% endblock %}


{% block content %}

    <div class="rbt-about-area about-style-1 bg-color-white rbt-section-gap2">
        <div class="container">
            <div class="row g-5 align-items-center">
                {% comment %} <div class="col-lg-6">
                    <div class="content">
                        <img src="{% static 'website/images/sample/663-426.jpg' %}" alt="About Images">
                    </div>
                </div> {% endcomment %}
                <div class="col-lg-12" data-sal="slide-up" data-sal-duration="700">
                    <div class="inner pl--50 pl_sm--5">
                        <div class="content text-start">
                            <span class="rbt-badge-6 bg-primary-opacity">About WeNGO</span>
                            <h3 class="title">Building Strong Women, Building Strong Communities</h3>
                            <p class="description mt--30">
                                Women Empowerment NGO (WENGO) was established with the vision of building a strong, self-reliant, and inclusive society. Our organization focuses on empowering women, supporting children’s education, improving healthcare access, and uplifting marginalized communities.
                            </p>
                            <p class="description">Through continuous social service activities, WENGO strives to bring hope, dignity, and sustainable change to the lives of those in need.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="rbt-advance-tab-area  bg-color-white">
    <div class="container">
        <div class="row mb--60">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h1 class="title">Read More About Our
                        <span class="header-caption">
                            <span class="cd-headline clip is-full-width">
                                <span class="cd-words-wrapper">
                                    <b class="is-visible theme-gradient">Mission.</b>
                                    <b class="is-hidden theme-gradient">Vission.</b>
                                    <b class="is-hidden theme-gradient">Goal.</b>
                                </span>
                            </span>
                        </span>
                    </h1>
                    <p class="description mt--30">To build an inclusive and compassionate society by empowering women, educating children, supporting the needy, and promoting dignity, care, and equal opportunities for all.</p>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt_md--30 mt_sm--30 order-2 order-lg-1">
                <div class="advance-tab-button advance-tab-button-1">
                    <ul class="nav nav-tabs tab-button-list" id="aboutmyTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link tab-button active" id="WengoMission-tab" data-bs-toggle="tab"
                                data-bs-target="#WengoMission" role="tab" aria-controls="WengoMission" aria-selected="false">
                                <div class="tab">
                                    <h4 class="title">WeNGO Vision.</h4>
                                    <p class="description">To create a society where women are empowered, children are educated, and every individual lives with dignity and equal opportunity.</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link tab-button" id="WengoVision-tab" data-bs-toggle="tab"
                                data-bs-target="#WengoVision" role="tab" aria-controls="WengoVision" aria-selected="true">
                                <div class="tab">
                                    <h4 class="title">WeNGO Mission.</h4>
                                    <ul>
                                        <li>
                                            Empower women through education, skills, and livelihoods
                                        </li>
                                        <li>
                                            Support vulnerable children with education and nutrition
                                        </li>
                                        <li>
                                            Provide healthcare and emergency support to the needy
                                        </li>
                                        <li>
                                            Promote dignity, inclusion, and compassion for all
                                        </li>
                                    </ul>
                                    
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12 order-1 order-lg-2">
                <div class="tab-content">
                    <div class="tab-pane fade advance-tab-content-1" id="WengoMission" role="tabpanel"
                        aria-labelledby="WengoMission-tab">
                        <div class="thumbnail">
                            <img src="{% static 'website/images/sample/mission.jpeg' %}" alt="advance-tab-image">
                        </div>
                    </div>
                    <div class="tab-pane fade advance-tab-content-1 active show" id="WengoVision" role="tabpanel"
                        aria-labelledby="WengoVision-tab">
                        <div class="thumbnail">
                            <img src="{% static 'website/images/sample/mission.jpeg' %}" alt="advance-tab-image">
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>




    <!-- Start CallTo Action Area  -->
    <div class="rbt-call-to-action-area rbt-section-gap2 bg-gradient-8">
        <div class="rbt-callto-action rbt-cta-default style-6">
            <div class="container">
                <div class="row g-5 align-items-center content-wrapper">
                    <div class="col-xxl-3 col-xl-3 col-lg-6">
                        <div class="inner">
                            <div class="content text-start">
                                <h2 class="title color-white mb--0">Become a Volunteer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="inner-content text-start">
                            <p class="color-white">
                                At <strong> Women Empowerment NGO (WENGO), </strong> we believe real change begins with people who care. As a volunteer, you can stand with women, children, and marginalized communities, helping them move towards a life of dignity, opportunity, and self-reliance.
                            </p>
                            <p class="color-white">
                                Together, we can build a stronger and more compassionate society.
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-6">
                        <div class="call-to-btn text-start text-xl-end">
                            <a class="rbt-btn btn-white hover-icon-reverse" href="{% url 'join_us' %}">
                                <span class="icon-reverse-wrapper">
                            <span class="btn-text">Join WeNGO Volunteer</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End CallTo Action Area  -->

    <!-- Start Service Area -->
    <div class="rbt-service-area bg-color-white rbt-section-gap2">
        <div class="container">
            <div class="row mb--60">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">Why Join with WeNGO ?</h2>
                        <p class="description mt--30"><strong>Women Empowerment NGO (WENGO)</strong> 
                         works with dedication and compassion to support women, children, and underprivileged communities through meaningful and responsible social service.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Start Card Area -->
            <div class="row row--15 mt_dec--30">

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            {% comment %} <div class="icon">
                                <img src="{% static 'website/images/icons/001-bulb.png' %}" alt="icons Images">
                            </div> {% endcomment %}
                            <div class="content">
                                <h6 class="title"><a href="#">Women-Centric Empowerment</a></h6>
                                <p class="description">We focus on empowering women through education, skill development, livelihood support, and awareness programs that help them become confident and self-reliant.</p>
                            </div>
                            <span class="number-text">1</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            {% comment %} <div class="icon">
                                <img src="{% static 'website/images/icons/002-hat.png' %}" alt="Shape Images">
                            </div> {% endcomment %}
                            <div class="content">
                                <h6 class="title"><a href="#">Education & Child Welfare</a></h6>
                                <p class="description">We support underprivileged children with education assistance, nutrition, and medical care to ensure they grow in a safe and supportive environment.</p>
                            </div>
                            <span class="number-text">2</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            {% comment %} <div class="icon">
                                <img src="{% static 'website/images/icons/003-id-card.png' %}" alt="Shape Images">
                            </div> {% endcomment %}
                            <div class="content">
                                <h6 class="title"><a href="#">Community Care & Support</a></h6>
                                <p class="description">Our initiatives address essential needs such as healthcare assistance, food distribution, grocery support, and mobility aid for the differently abled and homeless.</p>
                            </div>
                            <span class="number-text">3</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            {% comment %} <div class="icon">
                                <img src="{% static 'website/images/icons/004-pass.png' %}" alt="Shape Images">
                            </div> {% endcomment %}
                            <div class="content">
                                <h6 class="title"><a href="#">Compassion-Driven Service</a></h6>
                                <p class="description">At WeNGO, every initiative is guided by empathy, responsibility, and a genuine commitment to serve society with respect and dignity.
                                    
                                </p>
                            </div>
                            <span class="number-text">4</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

            </div>
            
            <!-- End Card Area -->
        </div>
    </div>
    <!-- End Service Area -->

<div class="rbt-course-area rbt-section-gap bg-gradient-8 masonary-wrapper-activation">
    <div class="container-fluid">
        <div class="row mb--55 g-5 align-items-end">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-5 col-11">
                <div class="section-title text-start">
                    <span class="subtitle bg-white-opacity">Top Popular Service</span>
                    <h2 class="title color-white">Most Popular Service</h2>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-11">
                <div class="load-more-btn text-start text-md-end">
                    <a class="rbt-btn rbt-switch-btn btn-white" href="{% url 'service' %}">
                        <span data-text="View All Service">View All Service</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>



        <div class="row g-5">

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="{% url 'veg_briyani' %}">
                            <img src="{% static 'website/images/causes/veg_briyani.jpeg' %}" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h4 class="rbt-card-title"><a href="{% url 'veg_briyani' %}">Donate Veg Briyani</a>
                        </h4>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">₹ 80</span>
                            </div>
                            <a class="rbt-btn-link" href="{% url 'veg_briyani' %}">Donate<i
                                    class="feather-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="{% url 'school_bag' %}">
                            <img src="{% static 'website/images/causes/schoolbag.jpeg' %}" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h4 class="rbt-card-title"><a href="{% url 'school_bag' %}">Donate School bag</a>
                        </h4>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">₹ 599</span>
                            </div>
                            <a class="rbt-btn-link" href="{% url 'school_bag' %}">Donate<i
                                    class="feather-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="{% url 'dresses' %}">
                            <img src="{% static 'website/images/causes/saree.jpeg' %}" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h4 class="rbt-card-title"><a href="{% url 'dresses' %}">Donate Dress</a>
                        </h4>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">₹ 599</span>
                            </div>
                            <a class="rbt-btn-link" href="{% url 'dresses' %}">Donate<i
                                    class="feather-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="{% url 'grocery_kit' %}">
                            <img src="{% static 'website/images/causes/grocery_kit.jpeg' %}" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h4 class="rbt-card-title"><a href="{% url 'grocery_kit' %}">Donate Grocery Kit</a>
                        </h4>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">₹ 700</span>
                            </div>
                            <a class="rbt-btn-link" href="{% url 'grocery_kit' %}">Donate<i
                                    class="feather-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="{% url 'wheel_chair' %}">
                            <img src="{% static 'website/images/causes/wheel_chair.jpeg' %}" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h4 class="rbt-card-title"><a href="{% url 'wheel_chair' %}">Donate Wheel Chair</a>
                        </h4>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">₹ 6000</span>
                            </div>
                            <a class="rbt-btn-link" href="{% url 'wheel_chair' %}">Donate<i
                                    class="feather-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="{% url 'birds_feeding' %}">
                            <img src="{% static 'website/images/causes/bird.jpeg' %}" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h4 class="rbt-card-title"><a href="{% url 'birds_feeding' %}">Birds feeding</a>
                        </h4>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">₹ 199</span>
                            </div>
                            <a class="rbt-btn-link" href="{% url 'birds_feeding' %}">Donate<i
                                    class="feather-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- <div class="row mt--55 mt_sm--50">
            <div class="col-lg-12">
                <div class="load-more-btn text-center">
                    <a class="rbt-btn rbt-switch-btn btn-white" href="#">
                        <span data-text="View More">View More</span>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</div>

{% endblock %}