{% extends 'website/base.html' %} {% load static %}


{% block title %} About - WeNGO {% endblock %}


{% block content %}

<!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-8 variation-02">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-10 offset-lg-1">
                    <div class="content">
                        <div class="inner text-center">
                            <div class="rbt-new-badge rbt-new-badge-one">
                                <span class="rbt-new-badge-icon">🏆</span> The Leader in Online Learning
                            </div>

                            <h1 class="title">Read About Our
                                <span class="header-caption">
                                    <span class="cd-headline clip is-full-width">
                                        <span class="cd-words-wrapper">
                                            <b class="is-visible theme-gradient">Mission.</b>
                                            <b class="is-hidden theme-gradient">Vission.</b>
                                            <b class="is-hidden theme-gradient">Planning.</b>
                                        </span>
                                </span>
                                </span>
                            </h1>
                            <p class="description has-medium-font-size mt--20">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam modi rem unde eos! Rem, veritatis.
                            </p>
                            <div class="slider-btn rbt-button-group justify-content-center">
                                <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Donate Now</span>
                                    <span class="btn-icon"><i class="feather-heart"></i></span>
                                    <span class="btn-icon"><i class="feather-heart"></i></span>
                                    </span>
                                </a>
                                <a class="rbt-btn hover-icon-reverse btn-white" href="#">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Contact US</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->


<div class="rbt-advance-tab-area bg-color-white">
    <div class="container">
       
        <div class="row g-5">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt_md--30 mt_sm--30 order-2 order-lg-1">
                <div class="advance-tab-button advance-tab-button-1">
                    <ul class="nav nav-tabs tab-button-list" id="aboutmyTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link tab-button active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home" role="tab" aria-controls="home" aria-selected="true">
                                <div class="tab">
                                    <h4 class="title">WeNGO Mission.</h4>
                                    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Autem, esse?</p>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link tab-button" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                <div class="tab">
                                    <h4 class="title">WeNGO Vision.</h4>
                                    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Autem, esse?</p>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link tab-button" id="contact-tab" data-bs-toggle="tab"
                                data-bs-target="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                <div class="tab">
                                    <h4 class="title">WeNGO Planning.</h4>
                                    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Autem, esse?</p>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12 order-1 order-lg-2">
                <div class="tab-content">
                    <div class="tab-pane fade advance-tab-content-1 active show" id="home" role="tabpanel"
                        aria-labelledby="home-tab">
                        <div class="thumbnail">
                            <img src="{% static 'website/images/sample/860-620.jpg' %}" alt="advance-tab-image">
                        </div>

                    </div>
                    <div class="tab-pane fade advance-tab-content-1" id="profile" role="tabpanel"
                        aria-labelledby="profile-tab">
                        <div class="thumbnail">
                            <img src="{% static 'website/images/sample/860-620.jpg' %}" alt="advance-tab-image">
                        </div>
                    </div>
                    <div class="tab-pane fade advance-tab-content-1" id="contact" role="tabpanel"
                        aria-labelledby="contact-tab">
                        <div class="thumbnail">
                            <img src="{% static 'website/images/sample/860-620.jpg' %}" alt="advance-tab-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="rbt-about-area about-style-1 bg-color-white rbt-section-gap">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="content">
                        <img src="{% static 'website/images/sample/663-426.jpg' %}" alt="About Images">
                    </div>
                </div>
                <div class="col-lg-6" data-sal="slide-up" data-sal-duration="700">
                    <div class="inner pl--50 pl_sm--5">
                        <div class="content text-start">
                            <span class="rbt-badge-6 bg-primary-opacity">About WeNGO</span>
                            <h3 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, ipsam!</h3>
                            <p class="description mt--30"><strong>Lorem ipsum dolor sit amet.</strong> ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laudantium molestias similique ipsum porro provident neque id quod, laboriosam magnam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start CallTo Action Area  -->
    <div class="rbt-call-to-action-area rbt-section-gap bg-gradient-8">
        <div class="rbt-callto-action rbt-cta-default style-6">
            <div class="container">
                <div class="row g-5 align-items-center content-wrapper">
                    <div class="col-xxl-3 col-xl-3 col-lg-6">
                        <div class="inner">
                            <div class="content text-start">
                                <h2 class="title color-white mb--0">Become a Volunteer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="inner-content text-start">
                            <p class="color-white">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam dolores dolore porro nam quo expedita totam blanditiis veniam quis, accusantium, temporibus nulla omnis asperiores exercitationem?
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-6">
                        <div class="call-to-btn text-start text-xl-end">
                            <a class="rbt-btn btn-white hover-icon-reverse" href="#">
                                <span class="icon-reverse-wrapper">
                            <span class="btn-text">Join WeNGO Volunteer</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End CallTo Action Area  -->

    <!-- Start Service Area -->
    <div class="rbt-service-area bg-color-white rbt-section-gap">
        <div class="container">
            <div class="row mb--60">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">Why Join with WeNGO ?</h2>
                        <p class="description mt--30"><strong>Lorem ipsum dolor sit.</strong> ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- Start Card Area -->
            <div class="row row--15 mt_dec--30">

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'website/images/icons/001-bulb.png' %}" alt="icons Images">
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#">Lorem ipsum dolor sit.</a></h6>
                                <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In dicta nemo repellat nostrum.</p>
                            </div>
                            <span class="number-text">1</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'website/images/icons/002-hat.png' %}" alt="Shape Images">
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#">Lorem ipsum dolor sit.</a></h6>
                                <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In dicta nemo repellat nostrum.</p>
                            </div>
                            <span class="number-text">2</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'website/images/icons/003-id-card.png' %}" alt="Shape Images">
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#">Lorem ipsum dolor sit.</a></h6>
                                <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In dicta nemo repellat nostrum.</p>
                            </div>
                            <span class="number-text">3</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

                <!-- Start Service Grid  -->
                <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="service-card service-card-6">
                        <div class="inner">
                            <div class="icon">
                                <img src="{% static 'website/images/icons/004-pass.png' %}" alt="Shape Images">
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#">Lorem ipsum dolor sit.</a></h6>
                                <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In dicta nemo repellat nostrum.</p>
                            </div>
                            <span class="number-text">4</span>
                        </div>
                    </div>
                </div>
                <!-- End Service Grid  -->

            </div>
            
            <!-- End Card Area -->
        </div>
    </div>
    <!-- End Service Area -->

<div class="rbt-course-area rbt-section-gap bg-gradient-8 masonary-wrapper-activation">
    <div class="container">
        <div class="row mb--55 g-5 align-items-end">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="section-title text-start">
                    <span class="subtitle bg-white-opacity">Top Popular Service</span>
                    <h2 class="title color-white">Most Popular Service</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="load-more-btn text-start text-md-end">
                    <a class="rbt-btn rbt-switch-btn btn-white" href="#">
                        <span data-text="View All Service">View All Service</span>
                    </a>
                </div>
            </div>
        </div>



        <div class="row g-5">

            <!-- Start Single Course  -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="#">
                            <img src="{% static 'website/images/sample/710-488.jpg' %}" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h4 class="rbt-card-title"><a href="#">Lorem ipsum dolor sit.</a>
                        </h4>
                        <ul class="rbt-meta d-flex justify-content-between d-none d-lg-block">
                            <li><i class="feather-user"></i>40 Donor</li>
                            <li><i class="feather-gift"></i>₹ 40,000</li>
                        </ul>

                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">₹ 60</span>
                            </div>
                            <a class="rbt-btn-link" href="#">Donate<i class="feather-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->



        </div>
    </div>
</div>

{% endblock %}