{% load static %}


<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
  data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Wengo{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mapbox-token" content="{{ MAPBOX_TOKEN|default:'' }}" />
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.ico' %}" />

  <!--datatable css-->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>
    <!--datatable responsive css-->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css"/>

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css"/>

  <!-- Layout config Js -->
  <script src="{% static 'dashboard/js/layout.js' %}"></script>
  <!-- Bootstrap Css -->
  <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="{% static 'dashboard/css/app.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- custom Css-->
  <link href="{% static 'dashboard/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
  <!--index Css-->
  <link href="{% static 'dashboard/css/index-whatsapp.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Begin page -->
  <div id="layout-wrapper">

    {% include 'dashboard/includes/header.html' %}

    {% include 'dashboard/includes/sidebar.html' %}





    <!-- /.modal -->
    <!-- ========== App Menu ========== -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="h-100">
                {% block content %}
                
                {% endblock %}
                
              </div>
              <!-- end .h-100-->
            </div>
            <!-- end col -->

      
          </div>
        </div>
        <!-- container-fluid -->
      </div>
      <!-- End Page-content -->

     {% include 'dashboard/includes/footer.html' %}
    </div>
    <!-- end main content-->
  </div>
  <!-- END layout-wrapper -->

  <!--start back-to-top-->
  <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
  </button>
  <!--end back-to-top-->

  <!--preloader-->
  <div id="preloader">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>



  <!-- JAVASCRIPT -->
  <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/libs/simplebar/simplebar.min.js' %}"></script>
  <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>
  <script src="{% static 'dashboard/libs/feather-icons/feather.min.js' %}"></script>
  <script src="{% static 'dashboard/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
  <script src="{% static 'dashboard/js/plugins.js' %}"></script>
 
 
 
  

 <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>


    
    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://img.themesbrand.com/velzon/apexchart-js/stock-prices.js"></script>
   
    <script src="{% static 'dashboard/js/pages/datatables.init.js' %}"></script>
    


  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    
     <!-- App js -->
  <script src="{% static 'dashboard/js/app.js' %}"></script>
  <script src="{% static 'dashboard/js/custom.js' %}"></script>
  <script src="{% static 'dashboard/js/rm_portal/irregular_timeseries_chart.js'%}"></script>
  <script src="{% static 'dashboard/js/rm_portal/dashed_line.js'%}"></script>
  <script src="{% static 'dashboard/js/index/index.js'%}"></script>
  <script src="{% static 'dashboard/js/index/Donut_with_Pattern.js'%}"></script>
  <script src="{% static 'dashboard/js/index/branch_wise.js'%}"></script>
  <script src="{% static 'dashboard/js/Website-Donation-js/stacked_line_chart.js'%}"></script>
  <script src="{% static 'dashboard/js/home/gradient_charts.js'%}"></script>
  <script src="{% static 'dashboard/js/home/pie_chart.js'%}"></script>
  <script src="{% static 'dashboard/js/home/home_bar_chart.js'%}"></script>
  <script src="{% static 'dashboard/js/overview_chart.js'%}"></script>
  

  
    
</body>

</html>