{% extends 'dashboard/base.html' %} {% load static %} {% block title %}
Dashboard || Website Donations wengo {% endblock %} {% block content %}
<style>
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

table.dataTable {
    width: 100% !important;
}

.dataTables_wrapper {
    width: 100%;
    overflow-x: auto;
}
</style>

<div class="row mb-3">
    <div class="col-12">
        <div class="d-flex justify-content-end">

            <form method="GET" class="d-flex align-items-center gap-2">

                <label class="fw-semibold mb-0">
                    Filter Date
                </label>

                <input
                    type="date"
                    class="form-control"
                    style="width:200px"
                    name="selected_date"
                    value="{{ selected_date }}"
                    max="{% now 'Y-m-d' %}"
                >

                <button
                    type="submit"
                    class="btn btn-primary">
                    <i class="ri-filter-3-line"></i>
                    Filter
                </button>

            </form>

        </div>
    </div>
</div>


<div class="row">
  <div class="row">
    <div class="col-12">
      <h5 class="text-decoration-underline mb-1 mt-2 pb-3">Home's</h5>
    </div>
  </div>
  <!--other widgets-->

  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card card-animate" style="background-color: #69ffcb9c">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <p class="fw-medium text-muted mb-0">Today Collection</p>
              <h2 class="mt-4 ff-secondary fw-semibold">₹{{ home_today }}</h2>
            </div>
            <div>
              <div class="avatar-sm flex-shrink-0">
                <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                  <i data-feather="users" class="text-info material-shadow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card-->
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card card-animate" style="background-color: #69ffcb9c">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <p class="fw-medium text-muted mb-0">Yesterday Collection</p>
              <h2 class="mt-4 ff-secondary fw-semibold">₹{{ home_yesterday }}</h2>
            </div>
            <div>
              <div class="avatar-sm flex-shrink-0">
                <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                  <i data-feather="users" class="text-info material-shadow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card-->
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card card-animate" style="background-color: #69ffcb9c">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <p class="fw-medium text-muted mb-0">This Month Collection</p>
              <h2 class="mt-4 ff-secondary fw-semibold">
                ₹{{ home_this_month }}
              </h2>
            </div>
            <div>
              <div class="avatar-sm flex-shrink-0">
                <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                  <i data-feather="users" class="text-info material-shadow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card-->
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card card-animate" style="background-color: #69ffcb9c">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <p class="fw-medium text-muted mb-0">Last Month Collection</p>
              <h2 class="mt-4 ff-secondary fw-semibold">
                ₹{{ home_last_month }}
              </h2>
            </div>
            <div>
              <div class="avatar-sm flex-shrink-0">
                <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                  <i data-feather="users" class="text-info material-shadow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card-->
    </div>
  </div>
  <!--end-->

  <div class="row">
    <div class="col-12">
      <h5 class="text-decoration-underline mb-1 mt-2 pb-3">Service's</h5>
    </div>
  </div>
  <!--other widgets-->

  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card card-animate" style="background-color: #2cfff8a3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <p class="fw-medium text-muted mb-0">Today Collection</p>
              <h2 class="mt-4 ff-secondary fw-semibold">₹{{service_today}}</h2>
            </div>
            <div>
              <div class="avatar-sm flex-shrink-0">
                <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                  <i data-feather="users" class="text-info material-shadow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card-->
    </div>
    <!-- end col-->

    <div class="col-xl-3 col-md-6">
      <div class="card card-animate" style="background-color: #69ffcb9c">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <p class="fw-medium text-muted mb-0">Yesterday Collection</p>
              <h2 class="mt-4 ff-secondary fw-semibold">₹{{ service_yesterday }}</h2>
            </div>
            <div>
              <div class="avatar-sm flex-shrink-0">
                <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                  <i data-feather="users" class="text-info material-shadow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card-->
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card card-animate" style="background-color: #2cfff8a3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <p class="fw-medium text-muted mb-0">This Month Collection</p>
              <h2 class="mt-4 ff-secondary fw-semibold">
                ₹{{service_this_month}}
              </h2>
            </div>
            <div>
              <div class="avatar-sm flex-shrink-0">
                <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                  <i data-feather="users" class="text-info material-shadow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card-->
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card card-animate" style="background-color: #2cfff8a3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <p class="fw-medium text-muted mb-0">Last Month Collection</p>
              <h2 class="mt-4 ff-secondary fw-semibold">
                {{service_last_month}}
              </h2>
            </div>
            <div>
              <div class="avatar-sm flex-shrink-0">
                <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                  <i data-feather="users" class="text-info material-shadow"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card-->
    </div>
  </div>
  <!--end-->

  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header border-0 align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">Performance Analytics</h4>
        </div>
        <div class="card-body">
          <div id="stacked_line" class="apex-charts" dir="ltr"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Home's</h5>
          </div>

          <div class="card-body">
            <table
              id="website_donation_table_home"
              class="table table-bordered table-striped align-middle w-100"
              style="width: 100%">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Date & Time</th>
                  <th>Payment Status</th>
                  <th>Amount</th>
                  <th>Mode of Payment</th>
                  <th>Payment Transaction ID</th>
                  <th>Donor Name</th>
                  <th>Donor Mobile</th>
                  <th>Donor Email</th>
                  <th>Donor Address</th>
                  <th>UQ.T.ID</th>
                  <th>Receipt No</th>
                </tr>
              </thead>

              <tbody>
                {% for donation in home_donations %}
                <tr>
                  <td>{{ forloop.counter }}</td>

                  <td>{{ donation.submitted_at|date:"d M Y h:i A" }}</td>

                  <td>
                    {% if donation.is_paid %}
                    <span class="badge bg-success">Success</span>
                    {% else %}
                    <span class="badge bg-danger">Failed</span>
                    {% endif %}
                  </td>

                  <td>₹{{ donation.total_price }}</td>

                  <td>{{ donation.easebuzz_payment_mode|default:"-" }}</td>

                  <td>{{ donation.easebuzz_transaction_id|default:"-" }}</td>

                  <td>{{ donation.donor_name }}</td>

                  <td>{{ donation.donor_mobile }}</td>

                  <td>{{ donation.donor_email }}</td>

                  <td>{{ donation.address }}</td>

                  <td>{{ donation.txnid }}</td>

                  <td>{{ donation.receipt_no }}</td>
                </tr>

                {% empty %}
                <tr>
                  <td colspan="12" class="text-center">
                    No Home Donations Found
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!--end-->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Service's</h5>
          </div>

          <div class="card-body">
            <table
              id="website_donation_table_service"
              class="table table-bordered  table-striped align-middle"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Date & Time</th>
                  <th>Payment Status</th>
                  <th>Amount</th>
                  <th>Mode of Payment</th>
                  <th>Payment Transaction ID</th>
                  <th>Donor Name</th>
                  <th>Donor Mobile</th>
                  <th>Donor Email</th>
                  <th>Donor Address</th>
                  <th>UQ.T.ID</th>
                  <th>Receipt No</th>
                </tr>
              </thead>

              <tbody>
                {% for donation in service_donations %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ donation.created_at }} </td>
                  <td>
                    {% if donation.easebuzz_payment_status == 'success' %}
                    <span class="badge bg-success">Success</span>
                    {% else %}
                    <span class="badge bg-danger">Failed</span>
                    {% endif %}
                  <td> {{ donation.donation_amount }} </td>
                  <td>{{donation.easebuzz_payment_mode }} </td>
                  <td> {{ donation.easebuzz_transaction_id }}</td>
                  <td>{{ donation.donor_name }}</td>
                  <td>{{ donation.donor_mobile }}</td>
                  <td>{{ donation.donor_email }}</td>
                  <td>{{ donation.address }}</td>
                  <td>{{ donation.txnid }}</td>
                  <td>{{ donation.receipt_no }}</td>
                </tr>

                {% empty %}
                <tr>
                  <td colspan="12" class="text-center">
                    No Service Donations Found
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!--end-->

    {%endblock%} {% block extra_js %}

    <script>
      const homeChartData = {{ home_chart_data|safe }};
      const serviceChartData = {{ service_chart_data|safe }};
    </script>


    <script src="{% static 'dashboard/js/Website-Donation-js/stacked_line_chart.js' %}"></script>

    {% endblock %}
  </div>
</div>
