{% load static %}


<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
  data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Wengo{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mapbox-token" content="{{ MAPBOX_TOKEN|default:'' }}" />
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
 
  <!--datatable css-->
   

  <!-- Layout config Js -->
  <script src="{% static 'dashboard/js/layout.js' %}"></script>
  <!-- Bootstrap Css -->
  <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="{% static 'dashboard/css/app.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- custom Css-->
  <link href="{% static 'dashboard/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
  <!--index Css-->
  <link href="{% static 'dashboard/css/index-whatsapp.css' %}" rel="stylesheet" type="text/css" />
</head>

 <link href="{% static 'RMPortal/css/index-whatsapp.css' %}" rel="stylesheet" type="text/css" />

<body>
  <!-- Begin page -->
  <div id="layout-wrapper">

    {% include 'includes/header.html' %}

    {% include 'includes/sidebar.html' %}





    <!-- /.modal -->
    <!-- ========== App Menu ========== -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="h-100">
                {% block content %}
                
                {% endblock %}
            
                 <!-- JAVASCRIPT -->
  <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/libs/simplebar/simplebar.min.js' %}"></script>
  <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>
  <script src="{% static 'dashboard/libs/feather-icons/feather.min.js' %}"></script>
  <script src="{% static 'dashboard/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
  <script src="{% static 'dashboard/js/plugins.js' %}"></script>
 
            
     <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://img.themesbrand.com/velzon/apexchart-js/stock-prices.js"></script>
   
    <script src="{% static 'dashboard/js/pages/datatables.init.js' %}"></script>


         <!-- App js -->
   <script src="{%static 'RMPortal/js/app.js' %}"></script>
   <script src="{%static 'RMPortal/js/custom.js' %}"></script>
  <script src="{%static 'RMPortal/js/gradient_chart.js' %}"></script>
  <script src="{%static 'RMPortal/js/whatsapp.js' %}"></script>
    


</body>

</html>