{% load static %}



    <div class="app-menu navbar-menu">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index.html" class="logo logo-dark">
          <span class="logo-sm">
            <img src="{% static 'dashboard/images/logo-sm.png' %}" alt="" height="22" />
          </span>
          <span class="logo-lg">
            <img src="{% static 'dashboard/images/logo-dark.png' %}" alt="" height="17" />
          </span>
        </a>
        <!-- Light Logo-->
        <a href="index.html" class="logo logo-light">
          <span class="logo-sm">
            <img src="{% static '#' %}" alt="" height="22" />
          </span>
          <span class="logo-lg">
            <img src="{% static '#' %}" alt="" height="17" />
          </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
          id="vertical-hover">
          <i class="ri-record-circle-line"></i>
        </button>
      </div>
      <div id="scrollbar">
        <div class="container-fluid">
          <div id="two-column-menu"></div>
          <ul class="navbar-nav" id="navbar-nav">
            <li class="menu-title"><span data-key="t-menu">Menu</span></li>

            <li class="nav-item">
              <a class="nav-link menu-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" 
                  href="{% url 'home' %}">
                <i class=" ri-home-heart-line"></i>
                <span>Home</span>
              </a>
            </li>
          
            
            <li class="nav-item">
              <a class="nav-link menu-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" 
                  href="{% url 'index' %}">
                <i class=" ri-file-paper-2-fill"></i>
                <span>Whatsapp API Reports</span>
              </a>
            </li>

            <li class="nav-item">
                    <a class="nav-link menu-link {% if request.resolver_match.url_name == 'visitor_chat' %}active{% endif %}"
                        href="{% url 'visitor_chat' %}">
                        <i class="ri-chat-3-line"></i>
                        <span>Visitor Chat Report</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link menu-link {% if request.resolver_match.url_name == 'Website_Donations' %}active{% endif %}"
                        href="{% url 'Website_Donations' %}">
                        <i class=" ri-folder-zip-fill"></i>
                        <span>Website Donations</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link {% if request.resolver_match.url_name == 'RM_S' %}active{% endif %}"
                        href="{% url 'RM_S' %}">
                        <i class=" ri-team-fill"></i>
                        <span>RM_S</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link {% if request.resolver_match.url_name == 'RM_Portal' %}active{% endif %}"
                        href="{% url 'RM_Portal' %}">
                        <i class="  ri-heart-2-fill"></i>
                        <span>RM Portal</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link {% if request.resolver_match.url_name == 'qr_donation' %}active{% endif %}"
                        href="{% url 'qr_donation' %}">
                        <i class=" ri-character-recognition-line"></i>
                        <span>Rm Link and QR Donation</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link {% if admin_search_page.url_name == 'admin_search_page' %}active{% endif %}"
                        href="{% url 'admin_search_page' %}">
                        <i class="ri-coins-fill"></i>
                        <span> Filter All  Donation</span>
                    </a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link menu-link {% if request.resolver_match.url_name == 'add_items' %}active{% endif %}"
                        href="{% url 'add_items' %}">
                        <i class=" ri-team-fill"></i>
                        <span>Add Items</span>
                    </a>
                </li>
          </ul>
        </div>
        <!-- Sidebar -->
      </div>

      <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>